/* styles for my resume */

/* full page instructions */

body {
  font-family: 'Open Sans', arial, sans-serif;
  font-size: 1em;
  color: #444;
  font-weight: 400;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/* banner name at top */

#title {
  font-weight: 600px;
  text-align: center;
  margin: 20px 0 0 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#name {
  font-size: 3em;
  text-transform: uppercase;
  text-align: center;
  color: #33485e;
  border-bottom: 1px solid #33485e;
  width: 60%;
  min-width: 300px;
  margin: 0 auto center;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/* webpage title */

strong {
  color: #33485e;
  text-transform: uppercase;
  font-size: 1.5em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/* headers */

.sectionheader {
  font-size: 1.5em;
  text-transform: uppercase;
  background-color: #33485e;
  color: #FFF;
  margin: 20px 0 10px 0;
  width: 70%;
  min-width: 300px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/* job titles */

.jobtitle {
  font-weight: 600;
  font-size: 1.5em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/* job organizations */

.organization {
  font-weight: 400;
  font-size: 1.25em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/* job dates */

.date {
  font-weight: 400;
  font-style: italic;
  font-size: 1em;
  margin: 2px 0 0 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/* contact info and job details */

ul {
  font-size: 1em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.menu ul {
  margin: 0px;
  padding: 0px;
  display: inline;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#degrees ul {
  margin: 5px 0 0 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#do ul {
  margin: 5px 0 0 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.description {
  margin: 10px 0 10px 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#container {
  width: 100%;
  min-width: 1200px;
  margin: 0 auto;
  padding-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 50px;
  background-color: red;
}
