#content {
  margin: 0 auto;
  width: 900px;
}

#masthead {
  text-align: center;
  text-transform: capitalize;
  font-size: 3em;
  font-weight: 700;
  font-family: 'Montserrat', serif;
  background-color: black;
  color: white;
}

#title {
  text-align: left;
  font-size: 2em;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
}

#byline {
  font-style: italic;
  color: #848484;
}

blockquote {
  font-style: italic;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 50px;
  padding-left: 15px;
  font-family: 'Montserrat', serif;
  color: blue;
  font-size: 2em;
}
