body {
  columns: 100px 1;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 1em;
}

#masthead {
  text-align: center;
  text-transform: capitalize;
  font-size: 3em;
  font-weight: 700;
  font-family: 'Montserrat', serif;
  background-color: black;
  color: white;
}

h1 {
  text-align: left;
  font-size: 2em;
  font-weight: 500;
  font-family: 'Helvetica', sans-serif;
  padding-left: 100px;
  padding-right: 100px;
}
p {
  padding-left: 100px;
  padding-right: 100px;
}

#byline {
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  font-style: italic;
  padding-left: 100px;
  padding-right: 100px;
}

#subhead {
  font-weight: 400;
  font-size: 1.5em;
  padding-left: 100px;
  padding-right: 100px;
}

blockquote {
  font-weight: 400;
  font-size: 1.5em;
  text-transform: capitalize;
  font-style: italic;
  padding-left: 100px;
  padding-right: 100px;
}

figcaption {
  font-size: 0.75em ;
  font-style: italic;
  color: #919191;
  padding-left: 100px;
  padding-right: 100px;
}

/* captions are grey so less attention is drawn towards them */

img {
  width: 500px;
  height: auto;
  padding-left: 100px;
  padding-right: 100px;
}

footer {
  color: white;
  background-color: black;
  text-align: center;
  font-size: 1em;
  font-family: 'Helvetica', sans-serif;
  font-weight: 500;
}
