body {
  columns: 100px 1;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 1em;
}

#masthead {
  text-align: center;
  text-transform: capitalize;
  font-size: 3em;
  font-weight: 700;
  font-family: 'Montserrat', serif;
  background-color: black;
  color: white;
}

h1 {
  text-align: left;
  font-size: 2em;
  font-weight: 500;
  font-family: 'Helvetica', sans-serif;
}

#byline {
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  font-style: italic;
}

#subhead {
  font-weight: 400;
  font-size: 1.5em;
}

blockquote {
  font-weight: 400;
  font-size: 1.5em;
  text-transform: capitalize;
  font-style: italic;
}

figcaption {
  font-size: 0.5em ;
  font-style: italic;
  color: #919191;
}
